@{
    ViewBag.Title = "Home Page";
}

<table>
    <tr>
        <td><p>Id</p></td>
        <td><p>Name of a bill</p></td>
        <td><p>Amount of money</p></td>
        <td><p>OrganisationId</p></td>
    </tr>

    @foreach (var b in ViewBag.Bills)
    {
        <tr>
            <td><p>@b.Id</p></td>
            <td><p>@b.Name</p></td>
            <td><p>@b.Amount</p></td>
            <td><p>@b.OrganisationId</p></td>
           
        </tr>
    }

</table>